.navbar{
    margin: auto;
    z-index: 1;
}

.navbar ul{
    list-style: none;
    padding: 0;
}

.navbar li{
    margin: 30px 15px;
    position: relative;
}


.navbar img{
    width: 30px;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.active{
    opacity: 1!important;
}

.link_name{
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px 8px;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width: 600px){
    .navbar ul{
        display: flex;
    }

    .navbar li{
        margin: 10px 15px;
    }
    
}