.accueil_navigation{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}
.accueil_navigation button{
  width: 50%;
  border: 0;
  padding: 0.25rem;
  opacity: 0.9;
  cursor: pointer;
}

.presentation{
  line-height: 1.5rem;
  opacity: 0;
  transition: opacity 1s;
}
  
.presentation p{
  padding: 10px;
}
  
.presentation ul{
  margin: 15px 0;
}
  
.presentation li{
  padding: 5px;
}

.presentation a{
  color: #00AF0A;
}
.presentation a:hover{
  color: #00BD0B;
}

